body{
    height: 1000px;
    background-image: url(../img/back2.png); 
    background-repeat: repeat-x;
    background-attachment: fixed;
}



h1{
    color:rgb(255, 255, 255);
    background-color: rgb(45, 34, 49);
    
}
  div{
    height: 360px;
    width: 500px;
    margin: auto;
    background-color: aliceblue;
    background-image: url(../img/div.png);
    background-attachment: fixed;
  
  }